/*Variables*/

:root{
    --main-c:#65718b;
    --secondary-c:#caa01f;
    --border-r:.2rem;
}

/*Estilos Genéricos*/

html *{
 margin: 0;
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}

ul, li {
    list-style: none; 
}

.wrap-cta{
    padding: 1.5rem 0;
}

.cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.2rem;
}

/*Header*/


.header-landing{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
}

.logo-header{
    max-width: 40px;
    height: 100%;
    width: 100%;
}


.hero-section
{
    height: 90vh;
    background: url("../img/persona.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(122, 151, 169, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section{
    max-width: 600px;
    color: #fff;
    padding: 15%;
    text-align: justify;
}


.section{
    margin: 5rem 0;
}

.section h2{
    padding: 2rem 0;
}


.wrap-principal-functions li {
    background-color: #ffffff;
    box-shadow: 0 4px 8px var(--secondary-c);
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    height: 10%;
    display: inline-block;
    text-align: justify;
}

.wrap-logos-section, .wrap-principal-functions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-brand{
    width: 200px;
    padding: 1rem 2rem;
    /*filter: grayscale(1);*/
}

/*WRAP TITLE*/

.wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
    font-size: 2em;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #eeeeee;
}

/*servicios*/
.wrap-servicios-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: justify;
}

.item-servicios-section{
    padding: 10rem;
}

.item-servicios-section img{
    width: 300px;
    height: 600px;
}


/*two columns section*/

.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-image_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.wrap-text-column h3{
    padding: 2rem 0rem;
}

.wrap-text-column{
    padding-bottom: 1rem;
    text-align: justify;
}

.wrap-privacity-text p{
    font-size: 0.7rem;
}

/*Formulario*/

.section.wrap-two-column.form{
    background-color: #f2f2f2;
    align-items: start;
}

.wrap-delete-data-info, .wrap-delete-data-info p{
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
}

.wrap-delete-data-info ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrap-delete-data-info l{
    
        background: #fff url("../icons/ganido.png") 0 3px no-repeat;
        padding: 5px 5px 5px 35px;
    
}

.wrap-delete-data-info b{
    color: rgb(198, 28, 138);
}

.form{
    padding: 4rem;
}

.form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1.5 px solid #fff;
    border-radius: var(--border-r);
}

.form textarea{
    min-height: 200px;

}

.input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
  }
  
  /** Footer **/
  
  .footer-section{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .menu-footer-section{
    padding: 1rem 0;
  }
  
  .wrap-social-logos ul, .wrap-menu-footer-section ul{
    display: flex;
    justify-content: center;
  }
  
  .social-logo{
    max-width: 75px;
    width: 100%;
    padding: 1rem;
  }
  
  .wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
  }
  
  .footer-creds{
    display: flex;
    justify-content: center;
  }